@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* dark class applied in index.html */
  }
  
  body {
    @apply bg-zinc-950 text-zinc-100 min-h-screen antialiased;
  }
}